@import "bootstrap";
@import 'selectize';
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #dcdcdc;
  background-color: #343a40 !important;
}
#upload_preview {
  display: none;
  margin: auto;
}
